.page-header
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        .navbar-brand
          = link_to site_editor_root_url(site_id: current_site) do
            = image_tag current_site.logo_image_url, height: 24
            Editor for
          %span.dropdown
            %a#change-site.dropdown-toggle(href='#' role="button" data-toggle='dropdown' aria-expanded='false')
              %b= current_site.name
              %span.caret

            %ul.dropdown-menu(aria-labelledby='change-site')
              - current_user.sites.each do |site|
                %li= link_to site.name, site_editor_root_url(site_id: current_site)

      %ul.nav.navbar-nav.navbar-right
        = active_link_to 'カテゴリ', site_editor_categories_url(site_id: current_site), wrap_tag: 'li'
        = active_link_to '連載', site_editor_serials_url(site_id: current_site), wrap_tag: 'li'
        = active_link_to '記事', site_editor_posts_url(site_id: current_site), wrap_tag: 'li'
        = active_link_to '役割', site_editor_credit_roles_url(site_id: current_site), wrap_tag: 'li'
        = active_link_to '執筆関係者', site_editor_participants_url(site_id: current_site), wrap_tag: 'li'
        = active_link_to '固定ページ', site_editor_fixed_pages_url(site_id: current_site), wrap_tag: 'li'
        = active_link_to 'リンク', site_editor_links_url(site_id: current_site), wrap_tag: 'li'

        %li
          = link_to 'ログアウト', destroy_user_session_url, method: :delete
