%p#notice= notice

%p
  %b Request:
  = @redirect.request
%p
  %b Destination:
  = @redirect.destination

= link_to 'Edit', edit_editor_redirect_path(@redirect)
\|
= link_to 'Back', editor_redirects_path
