%li.serial-summary.serial-summary--with-thumbnail
  = link_to serial_url(serial), class: 'serial-summary__url' do
    .serial-summary__image
      = image_tag serial.thumbnail_url, class: 'serial-summary__thumbnail'
    .serial-summary__body
      %p.serial-summary__title
        = serial.title
      %p.number-of-posts
        = serial.number_of_posts(serial.posts.published)
      %p.serial-summary__content
        = extract_plain_text(serial.description)
