:ruby
  canonical_url = @serial.canonical_url(@posts)
  page_title = @serial.page_title(@posts)

- @class_page_name = "serial-index"

- content_for(:rel_next_prev_link_tags) { rel_next_prev_link_tags(@posts) }
- content_for(:canonical_tag) do
  %link{rel: :canonical, href: canonical_url}
- if @posts.current_page > 1
  - breadcrumb :page_num, @posts.current_page, serial: @serial
- else
  - breadcrumb :serial, @serial
- set_meta_tags title: page_title, og: @serial.to_og_params
- set_meta_tags og: {url: canonical_url, title: "#{page_title} | #{current_site.name}"}

%section
  %div.serial-content
    = image_tag @serial.thumbnail_url, class: 'serial-content__thumbnail'
    %h1.serial-content__title= @serial.title
    %div.serial-content__description= render_markdown(@serial.description)

    = render 'banner', position: :press_articles_top
    %ul.serial-titles
      - @posts.each do |post|
        %li
          = link_to post.title, post_url(post), class: 'post-summary__url'

  - if @posts.total_pages > 1
    %nav.pagination
      = paginate @posts
      %p.pagination__entries= page_entries_info @posts
