%p#notice= notice

%p
  %b Title:
  = @comment.title
%p
  %b Body:
  = @comment.body
%p
  %b Topic:
  = @comment.topic

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
