<%# TODO bodyでなくheadでCSSを切り替えたい %>
<link rel="stylesheet" type="text/css" href="/site<%= @site.id %>/site.css" media="all">

<h1><%= @site.name %></h1>

<%= render 'long_collection', posts: @posts %>

<%# TODO 新着かどうかというのは画面によって異なりそうなので、ここはコントローラでカスタマイズできるのがよさそう %>

<h2>新着記事</h2>
<%= render 'short_collection', posts: @posts %>

<h2>人気記事</h2>
<%= render 'short_collection', posts: @posts %>

<button type="button" onClick="greet()">greet</button>

<script src="/site<%= @site.id %>/site.js"></script>
