- if @posts.empty?
  %div
    %p 「#{@query.keywords}」を含む記事は見つかりませんでした。
- else
  %div
    絞り込み：
    - if @query.participant_id.present?
      = Participant.find(@query.participant_id).name
      = link_to @query.params(remove: [:participant_id]) do
        %i.fa.fa-remove
    - else
      - @result_set.participants.each do |participant|
        %span
          = link_to participant.name, @query.params(add: {participant_id: participant._key})
          = "(#{participant.n_sub_records})"

  %p 「#{@query.keywords}」を含む記事は#{@posts.total_count}件見つかりました。
  %ol
    - @posts.each do |post|
      %li
        = link_to post.title, post
        - post.credits.each do |credit|
          .participant= link_to credit.participant.name, @query.params(add: {participant_id: credit.participant.id})

  - if @posts.total_pages > 1
    %nav.pagination
      = paginate @posts
      %p.pagination__entries= page_entries_info @posts
