- @class_page_name = "search"
- content_for(:rel_next_prev_link_tags) { rel_next_prev_link_tags(@search_result.posts, params: @search_result.canonical_params) }
- set_meta_tags title: @search_result.to_meta_title, description: @search_result.to_meta_description, og: @search_result.to_og_params
- content_for(:canonical_tag) do
  %link{rel: :canonical, href: @search_result.canonical_url}

- content_for(:search_keyword) { @search_result.keywords }

%p.message= @search_result.message
- if @search_result.posts.present?
  %ul.search-result-list
    - @search_result.posts.each do |post|
      = render layout: 'posts/summary', locals: {post: post} do
        .search-result
          = @search_result.excerpt(post)

  - if @search_result.posts.total_pages > 1
    %nav.pagination
      = paginate @search_result.posts
      %p.pagination__entries= page_entries_info @search_result.posts
