- if @posts.empty?
  %div
    %p 「#{@query.keywords}」を含む記事は見つかりませんでした。
- else
  %p.message 「#{@query.keywords}」を含む記事は#{@posts.total_count}件見つかりました。
  %ul
    - @posts.each do |post|
      %li.article-summary.article-summary--with-thumbnail
        = link_to post_url(post), class: 'article-summary__url' do
          = image_tag post.thumbnail_url, class: 'article-summary__thumbnail'
          .article-summary__body
            %p.article-summary__title
              = post.title
            %p.article-summary__data
              %time.article-summary__data-item
                = l post.published_at.to_date if post.published_at?
        .search-result
          = raw @result_set.snippet(post.plain_text_body, class: 'search-result__keyword').join('<br>')

  - if @posts.total_pages > 1
    %nav.pagination
      = paginate @posts
      %p.pagination__entries= page_entries_info @posts
