%p#notice= notice

%p
  %b Title:
  = @topic.title
%p
  %b Body:
  = @topic.body

%ul
  - @topic.comments.each do |comment|
    %li
      %p
        %b Title:
        = comment.title
      %p
        %b Body:
        = comment.body

= render partial: 'comments/form'

= link_to 'Back', topics_path
