= bootstrap_form_for [:admin, @author], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10' do |f|
  = f.text_field :name
  = f.text_field :responsibility
  = f.text_field :title
  = f.text_field :affiliation
  = f.file_field :photo
  - if @author.photo.present?
    = f.form_group do
      = image_tag @author.photo_url, height: 80
  = f.form_group do
    = f.submit
