%h1 Listing authors

%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Photo
      %th
      %th
      %th

  %tbody
    - @authors.each do |author|
      %tr
        %td= author.name
        %td= raw render_markdown(author.description)
        %td= image_tag author.photo_url, height: 80 if author.photo.present?
        %td= link_to 'Show', [:editor, author]
        %td= link_to 'Edit', edit_editor_author_url(author)
        %td= link_to 'Destroy', [:editor, author], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Author', new_editor_author_url, class: 'btn btn-default'
