%p
  %b Name:
  = @author.name
%p
  %b Description:
  = raw render_markdown(@author.description)
%p
  %b Photo:
  = image_tag @author.photo_url if @author.photo.present?

= link_to 'Edit', edit_editor_author_url(@author)
\|
= link_to 'Back', editor_authors_url
