%li.participant-summary.participant-summary--with-thumbnail
  = link_to participant_url(participant), class: 'participant-summary__url' do
    - if participant.photo.present?
      = image_tag participant.photo_url, class: 'participant-summary__thumbnail'
    .participant-summary__body
      %p.participant-summary__title
        = participant.name
      %p.number-of-posts
        = participant.number_of_posts(participant.posts.published)
      %p.participant-summary__content
        = participant.summary
