= bootstrap_form_for [:admin, current_site, @link], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10' do |f|
  = f.text_field :text
  = f.url_field :url
  = f.number_field :order

  = f.form_group do
    = f.submit
