= bootstrap_form_for [:editor, @post], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10' do |f|
  = f.number_field :public_id, label: '記事ID', help: '未記入の場合、自動的に連番がセットされます。' if @post.new_record?
  = f.text_field :title
  = f.text_area :body, data: {upload_path: editor_images_url}
  - if current_site.credit_enabled?
    = f.form_group label: {text: :credits} do
      = f.fields_for :credits do |ff|
        = render 'credit_fields', f: ff

      .links
        = link_to_add_association 'Add credit', f, :credits, class: 'btn btn-default pull-right'

  = f.collection_select :category_id, current_site.categories, :id, :name
  = f.file_field :thumbnail
  - if @post.thumbnail.present?
    = f.form_group do
      = image_tag @post.thumbnail_url, height: 80
  = f.datetime_local_field :published_at

  = f.form_group do
    = f.submit

:javascript
  $(function() {
    function applySelect2($element) {
      $element.select2({
        placeholder: '選択してください'
      });
    }

    applySelect2($('select'));

    $(document).on('cocoon:after-insert', function(e, inserted) {
      applySelect2($(inserted[0]).find('select'));
    })
  });
