= bootstrap_form_for [:editor, @post], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10' do |f|
  = f.text_field :title
  = f.text_area :body, data: {upload_path: editor_images_url}
  = f.collection_select :category_id, current_site.categories, :id, :name
  = f.collection_select :author_id, current_site.authors, :id, :name, include_blank: true
  = f.file_field :thumbnail
  - if @post.thumbnail.present?
    = f.form_group do
      = image_tag @post.thumbnail_url, height: 80
  = f.datetime_local_field :published_at

  = f.form_group do
    = f.submit
