%h1 記事一覧

%p 記事とは、読者に有用な情報を届けるための文章です。markdown記法を使用することができます。

%p
  = search_form_for @search, url: editor_posts_path, class: 'form-inline' do |f|
    .form-group
      = f.label :public_id_eq, 'Public ID', class: 'control-label'
      = f.text_field :public_id_eq, class: 'form-control'
    .form-group
      = f.label :title_cont, 'Title', class: 'control-label'
      = f.text_field :title_cont, class: 'form-control'
    .form-group
      = f.label :categories_id_eq, 'Category', class: 'control-label'
      = f.collection_select :categories_id_eq, current_site.categories.leaves, :id, :full_name, {selected: @search_query_params[:categories_id_eq], prompt: 'Category', label: 'Category'}, {class: 'form-control select2', 'data-select2-allow-clear': true}
    .form-group
      = f.submit 'Search', class: 'btn btn-default'

= link_to 'New Post', new_editor_post_url, class: 'btn btn-default'

%table.table.post
  %thead
    %tr
      %th= sort_link(@search, :public_id, 'Public ID')
      %th= sort_link(@search, :title, 'Title')
      %th Categories
      %th= sort_link(@search, :published_at, 'Published at')
      %th Thumbnail
      %th Published
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr{ class: post.published? ? nil : 'post--unpublished' }
        %td= post.public_id
        %td= post.title
        %td
          %ul
            - post.categories.each do |category|
              %li= category.name
        %td= l post.published_at if post.published_at
        %td= image_tag post.thumbnail_url, height: 80 if post.thumbnail.present?
        %td= post.published? ? icon('check-square-o') : icon('square-o')
        %td= link_to 'Show', editor_post_url(public_id: post.public_id)
        %td= link_to 'Preview', preview_editor_post_url(public_id: post.public_id), target: '_blank'
        %td= link_to 'Edit', edit_editor_post_url(public_id: post.public_id)
        %td= link_to 'Destroy', editor_post_url(public_id: post.public_id), method: :delete, data: { confirm: 'Are you sure?' }

- if @posts.total_pages > 1
  .text-center
    %nav.pagination
      = paginate @posts, views_prefix: 'editor'
      %p.pagination__entries= page_entries_info @posts
