%h1 記事一覧

%p 記事とは、読者に有用な情報を届けるための文章です。markdown記法を使用することができます。

= link_to 'New Post', new_site_editor_post_url(site_id: current_site), class: 'btn btn-default'

%table.table.post
  %thead
    %tr
      %th Public ID
      %th Title
      %th Category
      %th Published at
      %th Thumbnail
      %th Published
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr{ class: post.published? ? nil : 'post--unpublished' }
        %td= post.public_id
        %td= post.title
        %td= post.category&.name
        %td= l post.published_at if post.published_at
        %td= image_tag post.thumbnail_url, height: 80 if post.thumbnail.present?
        %td= post.published? ? icon('check-square-o') : icon('square-o')
        %td= link_to 'Show', site_editor_post_url(public_id: post.public_id, site_id: current_site)
        %td= link_to 'Preview', preview_site_editor_post_url(public_id: post.public_id, site_id: current_site), target: '_blank'
        %td= link_to 'Edit', edit_site_editor_post_url(public_id: post.public_id, site_id: current_site)
        %td= link_to 'Destroy', site_editor_post_url(public_id: post.public_id, site_id: current_site), method: :delete, data: { confirm: 'Are you sure?' }

- if @posts.total_pages > 1
  .text-center
    %nav.pagination
      = paginate @posts, views_prefix: 'editor'
      %p.pagination__entries= page_entries_info @posts
