%p
  %b Title:
  = @post.title
%p
  %b Body:
  = @post.body
%p
  %b Category:
  = @post.category&.name
%p
  %b Author:
  = @post.author&.name
  = @post.author&.description
%p
  %b Thumbnail url:
  = image_tag @post.thumbnail_url, height: 80 if @post.thumbnail.present?

= link_to 'Preview', preview_editor_post_url, target: '_blank'
\|
= link_to 'Edit', edit_editor_post_url
\|
= link_to 'Back', editor_posts_url
