%p
  %b Title:
  = @post.title
%p
  %b Body:
  = @post.body
- if current_site.credit_enabled?
  %p
    %b Partcipants
    %ul
      - @post.credits.with_ordered.each do |credit|
        %li
          [#{credit.role.name}]
          = link_to credit.participant.name, [:site, :editor, credit.participant, {site_id: current_site}]
%p
  %b Category:
  = @post.category&.name
%p
  %b Serial:
  = @post.serial&.title

%p
  %b Thumbnail:
  = image_tag @post.thumbnail_url, height: 80 if @post.thumbnail.present?

= link_to 'Preview', preview_site_editor_post_url(public_id: @post.public_id, site_id: current_site), target: '_blank'
\|
= link_to 'Edit', edit_site_editor_post_url(public_id: @post.public_id, site_id: current_site)
\|
= link_to 'Back', site_editor_posts_url(site_id: current_site)
