%p
  %b Title:
  = @post.title
%p
  %b Body:
  = @post.body
- if current_site.credit_enabled?
  %p
    %b Partcipants
    %ul
      - @post.credits.with_ordered.each do |credit|
        %li
          [#{credit.role.name}]
          = link_to credit.participant.name, [:editor, credit.participant]
%p
  %b Category:
  = @post.category&.name
%p
  %b Thumbnail url:
  = image_tag @post.thumbnail_url, height: 80 if @post.thumbnail.present?

= link_to 'Preview', preview_editor_post_url, target: '_blank'
\|
= link_to 'Edit', edit_editor_post_url
\|
= link_to 'Back', editor_posts_url
