%p
  %b Title:
  = @post.title
%p
  %b Body:
  = @post.body
%p
  %b Category:
  = @post.category&.name
%p
  %b Author:
  = @post.author&.name
  = @post.author&.title
  = @post.author&.affiliation
%p
  %b Thumbnail url:
  = image_tag @post.thumbnail_url, height: 80 if @post.thumbnail.present?

= link_to 'Edit', edit_editor_post_path
\|
= link_to 'Back', editor_posts_path
