%h1 Listing links

%table.table
  %thead
    %tr
      %th Text
      %th Url
      %th Order
      %th
      %th
      %th

  %tbody
    - @links.each do |link|
      %tr
        %td= link.text
        %td= link.url
        %td= link.order
        %td= link_to 'Show', editor_link_url(id: link)
        %td= link_to 'Edit', edit_editor_link_url(id: link)
        %td= link_to 'Destroy', editor_link_url(id: link), method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Link', new_editor_link_url, class: 'btn btn-default'
