%h1 リンク一覧

%p リンクとは、フッターに表示するリンクのことです。絶対URLで登録します。

= link_to 'New Link', new_site_editor_link_url(site_id: current_site), class: 'btn btn-default'

%table.table
  %thead
    %tr
      %th Text
      %th Url
      %th Order
      %th
      %th
      %th

  %tbody
    - @links.each do |link|
      %tr
        %td= link.text
        %td= link.url
        %td= link.order
        %td= link_to 'Show', site_editor_link_url(link, site_id: current_site)
        %td= link_to 'Edit', edit_site_editor_link_url(link, site_id: current_site)
        %td= link_to 'Destroy', site_editor_link_url(link, site_id: current_site), method: :delete, data: { confirm: 'Are you sure?' }
