%p
  %b Text:
  = @link.text
%p
  %b Url:
  = @link.url
%p
  %b Order:
  = @link.order

= link_to 'Edit', edit_site_editor_link_url(@link, site_id: current_site)
\|
= link_to 'Back', site_editor_links_url(site_id: current_site)
