%section
  = render partial: 'banner', locals: {position: :press_articles_top}
  = render 'posts/long_collection', posts: @posts

  - if @posts.total_pages > 1
    %nav.pagination
      = paginate @posts
      %p.pagination__entries= page_entries_info @posts

  %aside
    = render partial: 'share_buttons', locals: {title: "#{current_site.name} #{current_site.tagline}", url: root_url, twitter_account: current_site.twitter_account, caption_html: current_site.share_button_caption_html}

- if current_site.bbs_enabled?
  %section
    %h1 BBS
    = link_to 'New Topic', new_topic_path, class: 'button'
    %ul
      - @topics.each do |topic|
        %li= link_to topic.title, topic
