- content_for(:canonical_tag) do
  %link{rel: :canonical, href: root_url}
- content_for(:rel_next_prev_link_tags) { rel_next_prev_link_tags(@posts) }
- breadcrumb :page_num, @posts.current_page if @posts.current_page > 1
- set_meta_tags title: current_site.tagline, reverse: false, description: current_site.description, og: current_site.to_og_params
- @class_page_name = "welcome"

= content_for(:welcome_content) do
  - if current_site.tagline.present?
    .welcome-content-wrapper.xxx
      .tagline-wrapper
        %p.tagline= current_site.tagline

%section
  = render partial: 'banner', locals: {position: :press_articles_top}
  %ul
    - @posts.each do |post|
      = render partial: 'posts/summary_with_content', locals: {post: post}
    = render partial: 'native_ad', locals: {position: :press_articles_bottom}

  - if @posts.total_pages > 1
    %nav.pagination
      = paginate @posts
      %p.pagination__entries= page_entries_info @posts

  %aside
    = render partial: 'sns_share', locals: {title: "#{current_site.name} #{current_site.tagline}", url: root_url, twitter_account: current_site.twitter_account, caption: current_site.sns_share_caption}
