%section
  = render 'posts/long_collection', posts: @posts

  - if @posts.total_pages > 1
    %nav.pagination
      = paginate @posts
      %p.pagination__entries= page_entries_info @posts

- if current_site.bbs_enabled?
  %section
    %h1 BBS
    = link_to 'New Topic', new_topic_path, class: 'button'
    %ul
      - @topics.each do |topic|
        %li= link_to topic.title, topic
