= bootstrap_form_for [:editor, @fixed_page], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10' do |f|
  = f.text_field :title
  = f.text_area :body, class: "markdown-editor", data: {upload_path: editor_images_url}
  = f.text_field :slug, help: "URLの一部に使うこの固定ページを表すわかりやすい英単語を指定します"

  = f.form_group do
    = f.submit
