%h1 Listing fixed_pages

= link_to 'New Fixed page', new_editor_fixed_page_url, class: 'btn btn-default'

%table.table
  %thead
    %tr
      %th Title
      %th Slug
      %th
      %th
      %th

  %tbody
    - @fixed_pages.each do |fixed_page|
      %tr
        %td= fixed_page.title
        %td= fixed_page.slug
        %td= link_to 'Show', [:editor, fixed_page]
        %td= link_to 'Edit', edit_editor_fixed_page_url(id: fixed_page)
        %td= link_to 'Destroy', [:editor, fixed_page], method: :delete, data: { confirm: 'Are you sure?' }
