%h1 固定ページの一覧

%p 固定ページとは「利用規約」などの記事以外の固定された情報を表示するためのページです。markdown記法を使用することができます。

= link_to 'New Fixed page', new_site_editor_fixed_page_url(site_id: current_site), class: 'btn btn-default'

%table.table
  %thead
    %tr
      %th Title
      %th Slug
      %th
      %th
      %th

  %tbody
    - @fixed_pages.each do |fixed_page|
      %tr
        %td= fixed_page.title
        %td= fixed_page.slug
        %td= link_to 'Show', site_editor_fixed_page_url(fixed_page, site_id: current_site)
        %td= link_to 'Edit', edit_site_editor_fixed_page_url(fixed_page, site_id: current_site)
        %td= link_to 'Destroy', site_editor_fixed_page_url(fixed_page, site_id: current_site), method: :delete, data: { confirm: 'Are you sure?' }
