%p
  %b Title:
  = @fixed_page.title
%p
  %b Body:
  = @fixed_page.body
%p
  %b Slug:
  = @fixed_page.slug

= link_to 'Edit', edit_site_editor_fixed_page_url(@fixed_page, site_id: current_site)
\|
= link_to 'Back', site_editor_fixed_pages_url(site_id: current_site)
