%tr
  %td= category.name
  %td= category.description
  %td
    = link_to category_path(category.slug), target: '_blank' do
      = category.slug
      %i.glyphicon.glyphicon-new-window
  %td= link_to 'Show', editor_category_url(category)
  %td= link_to 'Edit', edit_editor_category_url(category)
  %td= link_to 'Destroy', editor_category_url(category), method: :delete, data: { confirm: 'Are you sure?' }
  %td= link_to_if category.higher_item, '▲', editor_category_order_url(category_id: category, target: category.higher_item, move_to: "higher"), method: :put
  %td= link_to_if category.lower_item, '▼', editor_category_order_url(category_id: category, target: category.lower_item, move_to: "lower"), method: :put
