= bootstrap_form_for [:editor, @category], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10' do |f|
  = f.text_field :name
  = f.text_area :description
  = f.text_field :slug
  = f.number_field :order
  = f.text_field :title

  = f.form_group do
    = f.submit
