%p
  %b Parent categories:
  = safe_join(@category.ancestors.map {|parent| link_to(parent.name, editor_category_path(parent)) }, " > ").presence || "-"

%p
  %b Name:
  = @category.name
%p
  %b Description:
  = @category.description
%p
  %b Slug:
  = link_to category_path(@category.slug), target: '_blank' do
    = @category.slug
    %i.glyphicon.glyphicon-new-window

%h3 Sub categories

- sub_categories = @category.children.ordered
- if sub_categories.present?
  = render 'table', categories: sub_categories
- else
  %p
    There are no sub categories.

= link_to 'Edit', edit_editor_category_url
\|
= link_to 'Back', editor_categories_url
