%p
  %b Name:
  = @category.name
%p
  %b Description:
  = @category.description
%p
  %b Slug:
  = @category.slug
%p
  %b Order
  = @category.order

= link_to 'Edit', edit_editor_category_path
\|
= link_to 'Back', editor_categories_path
