%p
  %b Name:
  = @category.name
%p
  %b Description:
  = @category.description
%p
  %b Slug:
  = @category.slug
%p
  %b Order
  = @category.order

= link_to 'Edit', edit_site_editor_category_url(@category, site_id: current_site)
\|
= link_to 'Back', site_editor_categories_url(site_id: current_site)
