%p
  %b Name:
  = @category.name
%p
  %b Description:
  = @category.description
%p
  %b Slug:
  = @category.slug

= render 'table', categories: @category.children.ordered

= link_to 'Edit', edit_editor_category_url
\|
= link_to 'Back', editor_categories_url
