= bootstrap_form_for [:editor, @serial], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10' do |f|
  = f.text_field :title
  = f.text_area :description

  = f.form_group do
    = f.submit
