%h1 連載一覧

%p 連載とは、続きものとして続けて掲載することです。一つの記事は一つの連載に所属することができます。

= link_to 'New Serials', new_editor_serial_url, class: 'btn btn-default'

%table.table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @serials.each do |serial|
      %tr
        %td= serial.title
        %td= serial.description
        %td= link_to 'Show', editor_serial_url(serial)
        %td= link_to 'Edit', edit_editor_serial_url(serial)
        %td= link_to 'Destroy', editor_serial_url(serial), method: :delete, data: { confirm: 'Are you sure?' }
