= bootstrap_form_for [:admin, @post], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10' do |f|
  = f.text_field :title
  = f.text_area :body
  = f.collection_select :category_id, current_site.categories, :id, :name
  = f.text_field :thumbnail_url
  = f.datetime_local_field :published_at

  = f.form_group do
    = f.submit
