%h1 Listing posts

%table.table
  %thead
    %tr
      %th Title
      %th Body
      %th Category
      %th Thumbnail url
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.body
        %td= post.category&.name
        %td= post.thumbnail_url
        %td= link_to 'Show', [:admin, post]
        %td= link_to 'Edit', edit_admin_post_path(post)
        %td= link_to 'Destroy', [:admin, post], method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Post', new_admin_post_path, class: 'btn btn-default'
