<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%=raw render_markdown(@post.body) %>
</p>

<p>
  <strong>Site:</strong>
  <%= link_to @post.site.name, [:admin, @post.site] %>
</p>

<%= link_to 'Edit', edit_admin_post_path(@post) %> |
<%= link_to 'Back', admin_posts_path %>
