%p
  %b Title:
  = @post.title
%p
  %b Body:
  = @post.body
%p
  %b Category:
  = @post.category&.name
%p
  %b Thumbnail url:
  = image_tag @post.thumbnail_url, height: 80 if @post.thumbnail.present?

= link_to 'Edit', edit_admin_post_path(@post)
\|
= link_to 'Back', admin_posts_path
