- set_meta_tags title: t('.title'), noindex: true

%div.error-message
  %h1= t('.title')
  %p= t('.confirm_url')

  %h2= t('.reasons.header')
  %p= t('.reasons.mistyped')
  %p= t('.reasons.confirm_url')
  %p= t('.reasons.mispasted')
