%h1 リダイレクトルール一覧

= link_to 'New Redirect Rule', new_editor_redirect_rule_path, class: 'btn btn-default'

%table.table
  %thead
    %tr
      %th Request
      %th Destination
      %th
      %th
      %th

  %tbody
    - @redirect_rules.each do |redirect_rule|
      %tr
        %td= link_to redirect_rule.request_path, redirect_rule.request_path
        %td= link_to redirect_rule.destination, redirect_rule.destination
        %td= link_to 'Show', editor_redirect_rule_path(redirect_rule)
        %td= link_to 'Edit', edit_editor_redirect_rule_path(redirect_rule)
        %td= link_to 'Destroy', editor_redirect_rule_path(redirect_rule), :method => :delete, :data => { :confirm => 'Are you sure?' }

- if @redirect_rules.total_pages > 1
  .text-center
    %nav.pagination
      = paginate @redirect_rules, views_prefix: 'editor'
      %p.pagination__entries= page_entries_info @redirect_rules
