%p#notice= notice

%p
  %b Request:
  = @redirect_rule.request_path
%p
  %b Destination:
  = @redirect_rule.destination

= link_to 'Edit', edit_editor_redirect_rule_path(@redirect_rule)
\|
= link_to 'Back', editor_redirect_rules_path
