%p#notice= notice

%p
  %b #{RedirectRule.human_attribute_name(:request_path}:
  = @redirect_rule.request_path
%p
  %b #{RedirectRule.human_attribute_name(:destination)}:
  = @redirect_rule.destination

= link_to "Edit", edit_editor_redirect_rule_path(@redirect_rule)
\|
= link_to "Back", editor_redirect_rules_path
