= bootstrap_form_for [:editor, @credit_role], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10' do |f|
  = f.text_field :name
  = f.number_field :order, help: "執筆関係者を画面に表示するときの順序を指定します"

  = f.form_group do
    = f.submit
