%li.article-summary.article-summary--with-thumbnail
  = link_to post_url(post), class: 'article-summary__url' do
    = image_tag post.thumbnail_url, class: 'article-summary__thumbnail'
    .article-summary__body
      %p.article-summary__data
        %time.article-summary__data-item
          = l post.published_at.to_date if post.published_at?
        %span.category
          = post.category.name
      %p.article-summary__title
        = post.title

      = yield
