- if @pages.respond_to?(:total_pages)
  - content_for(:rel_next_prev_link_tags) { rel_next_prev_link_tags(@pages) }
  - content_for(:canonical_tag) do
    %link{rel: :canonical, href: url_for(all: true, only_path: false)}
- breadcrumb :post, @post
- set_meta_tags title: @post.title, description: @post.body

%article
  %h1= @post.title
  = raw render_markdown(@pages.map(&:body).join)

  - if @pages.respond_to?(:total_pages) && @pages.total_pages > 1
    %nav.pagination
      = paginate @pages, theme: :post

  = render partial: 'banner', locals: {position: :press_article_bottom}

  %aside
    = render partial: 'sns_share', locals: {title: @post.title, url: post_url(@post), twitter_account: current_site.twitter_account, caption: current_site.sns_share_caption}

    = render partial: 'short_collection', locals: {posts: @post.related_posts}
