%ul.category-summary
  - categories.each do |category|
    - if category.has_children?
      - count = category.children.sum do |child|
        - child.posts.published.count
      - count = "(#{count})"
    - else
      - count = "(#{category.posts.published.count})"
    %li
      = link_to "#{category.name} #{count}", category_url(category.slug)
      %p= extract_plain_text(category.description).truncate(100)
      - if depth < 2
        - if category.has_children?
          = render 'categories', categories: category.children, depth: depth + 1
        - else
          %ul
            - category.posts.published.order_by_recent.limit(7).each do |post|
              = render 'posts/title', post: post
