%ul.category-summary
  - categories.each do |category|
    :ruby
      count = if category.has_children?
                # Use `to_a` to call `Enumerable#sum` here.
                # We can remove `to_a` after Rails 5. http://api.rubyonrails.org/classes/ActiveRecord/Calculations.html#method-i-sum
                category.children.to_a.sum {|child| child.posts.published.count }
              else
                category.posts.published.count
              end
    %li
      = link_to "#{category.name} (#{count})", category_url(category.slug)
      %p= extract_plain_text(category.description).truncate(100)
      - if depth < 2
        - if category.has_children?
          = render 'categories', categories: category.children, depth: depth + 1
        - else
          %ul
            - category.posts.published.order_by_recent.limit(7).each do |post|
              = render 'posts/title', post: post
