:ruby
  canonical_url = @category.canonical_url(@posts)
  page_title = @category.page_title(@posts)

- @class_category_id = "category-" + @category.order.to_s
- @class_page_name = "category-index"

- content_for(:rel_next_prev_link_tags) { rel_next_prev_link_tags(@posts) }
- content_for(:canonical_tag) do
  %link{rel: :canonical, href: canonical_url}
- if @posts.current_page > 1
  - breadcrumb :page_num, @posts.current_page, category: @category
- else
  - breadcrumb :category, @category
- set_meta_tags title: page_title, og: @category.to_og_params
- set_meta_tags og: {url: canonical_url, title: "#{page_title} | #{current_site.name}"}

%section
  %h1.category-header= @category.name
  .category-description= render_markdown(@category.description)

  = render 'banner', position: :press_articles_top
  - if @category.has_children?
    = render 'categories', categories: @category.children, depth: 1
  - else
    = render 'posts', posts: @posts
