- content_for(:rel_next_prev_link_tags) { rel_next_prev_link_tags(@posts) }
- content_for(:canonical_tag) do
  %link{rel: :canonical, href: category_url(@category.slug)}
- breadcrumb :category, @category
- set_meta_tags title: @category.name, og: @category.to_og_params

%section
  %h1= @category.name
  %p= @category.description

  = render partial: 'banner', locals: {position: :press_articles_top}
  = render 'posts/long_collection', posts: @posts

  - if @posts.total_pages > 1
    %nav.pagination
      = paginate @posts
      %p.pagination__entries= page_entries_info @posts
