.page-header
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        .navbar-brand
          = link_to admin_root_path do
            = image_tag current_site.logo_image_url.presence || current_site.logo_url, height: 24
            Admin for
          %span.dropdown
            %a#change-site.dropdown-toggle(href='#' role="button" data-toggle='dropdown' aria-expanded='false')
              %b= current_site.name
              %span.caret

            %ul.dropdown-menu(aria-labelledby='change-site')
              -# TODO Use `current_user.sites`
              - Site.all.each do |site|
                %li= link_to site.name, admin_root_url(host: site.fqdn)

      %ul.nav.navbar-nav.navbar-right
        = active_link_to 'サイト情報', edit_admin_site_url, wrap_tag: 'li'
        = active_link_to '著者情報', admin_authors_url, wrap_tag: 'li'
        = active_link_to 'カテゴリ', admin_categories_url, wrap_tag: 'li'
        = active_link_to '記事', admin_posts_url, wrap_tag: 'li'
        = active_link_to '固定ページ', admin_fixed_pages_url, wrap_tag: 'li'
        = active_link_to 'リンク', admin_links_url, wrap_tag: 'li'
