- categories1, categories2 = categories[0...7], categories[7..-1]
%ul.menu__items.menu__items--first
  - categories1.each do |category|
    %li.menu__item{class: "menu__item--#{category.slug}", data: {menu_item_state: category == current_category ? 'current' : nil}}
      = link_to category.name, category_url(category.slug), class: 'menu__label'
- if categories2.present?
  %p.menu__item
    = link_to '#', class: 'menu__more' do
      More
      %span.arrow.down
- if categories2.present?
  %ul.menu__items.menu__items.menu__items--second
    - categories2.each do |category|
      %li.menu__item{class: "menu__item--#{category.slug}", data: {menu_item_state: category == current_category ? 'current' : nil}}
        = link_to category.name, category_url(category.slug), class: 'menu__label'
