%head
  %meta{charset: 'utf-8'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0'}

  = display_meta_tags default_meta_tags

  = javascript_include_tag 'application'
  = javascript_include_tag current_site.js_url.presence || 'themes/default/application'
  = stylesheet_link_tag current_site.css_url.presence || 'themes/default/application'
  = csrf_meta_tag
  = auto_discovery_link_tag :rss, feed_url
  = favicon_tag current_site
  = mobile_favicon_tag current_site
  - if content_for? :rel_next_prev_link_tags
    = content_for :rel_next_prev_link_tags
  - if content_for? :canonical_tag
    = content_for :canonical_tag
  - if current_site.head_tag.present?
    = raw current_site.head_tag
