#snsbox03.clearfix
  = raw caption_html

  %ul.share_btn
    %li
      %a.facebook_btn{href: "http://www.facebook.com/sharer.php?u=#{url}&amp;t=#{Rack::Utils.escape(title)}", onclick: "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"}
        <span class="hatebu_icon">f</span>いいね

    %li
      %a.twitter_btn{href: "http://twitter.com/share?text=#{Rack::Utils.escape(title)}&amp;url=#{Rack::Utils.escape(url)}&amp;via=#{twitter_account}", onclick: "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"}
        <span class="hatebu_icon">t</span>ツイート

    %li
      %a.line_btn{href: "http://line.me/R/msg/text/?#{Rack::Utils.escape(title)}%0D%0A#{Rack::Utils.escape(url)}", onclick: "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"}
        <span class="hatebu_icon">L </span>LINE

    %li
      %a.hatebu_btn{href: "http://b.hatena.ne.jp/add?mode=confirm&amp;url=#{url}&amp;title=#{Rack::Utils::escape(title)}", onclick: "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"}
        <span class="hatebu_icon">B!</span>はてブ
