%h1 Listing fixed_pages

%table
  %thead
    %tr
      %th Title
      %th Body
      %th Slug
      %th
      %th
      %th

  %tbody
    - @fixed_pages.each do |fixed_page|
      %tr
        %td= fixed_page.title
        %td= fixed_page.body
        %td= fixed_page.slug
        %td= link_to 'Show', [:admin, fixed_page]
        %td= link_to 'Edit', edit_admin_fixed_page_path(fixed_page)
        %td= link_to 'Destroy', [:admin, fixed_page], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Fixed page', new_admin_fixed_page_path
