%p
  %b Title:
  = @fixed_page.title
%p
  %b Body:
  = @fixed_page.body
%p
  %b Slug:
  = @fixed_page.slug

= link_to 'Edit', edit_admin_fixed_page_path(@fixed_page)
\|
= link_to 'Back', admin_fixed_pages_path
