!!!
%html
  %meta{charset: 'utf-8'}
  %title Daimon Admin
  = javascript_include_tag 'admin'
  = stylesheet_link_tag 'admin', media: 'all'
  = csrf_meta_tag

  %body
    .container
      = render 'admin_navigation'

      - if notice
        .alert.alert-success(role='alert')= notice

      - if alert
        .alert.alert-warning(role='alert')= alert

      %main
        = yield
