!!!
%html
  %meta{charset: 'utf-8'}
  %title Daimon Admin
  = javascript_include_tag 'admin'
  = stylesheet_link_tag 'admin', media: 'all'
  = csrf_meta_tag

  %body
    .container
      = render 'admin_navigation'

      %p
        = notice

      %main
        = yield
