!!!
%html
  = render 'application/head'

  %body.root-container(data-layer='top')
    = google_tag_manager(current_site.gtm_id)
    = render 'application/content_header'

    .content-body
      %nav.sidebar.sidebar--left(data-state='off-canvas')
        %ul.menu
          - if current_site.menu_url.present?
            .external-component{data: {external_src: current_site.menu_url}}
          %li.menu__item.menu__item--press.menu__section{data: {menu_item_state: current_category.nil? ? 'current' : nil}}
            = link_to 'Press', root_url, class: 'menu__label'

            %ul.menu__items
              - current_site.categories.ordered.each do |category|
                %li.menu__item{class: "menu__item--#{category.slug}", data: {menu_item_state: category == current_category ? 'current' : nil}}
                  = link_to category.name, category_url(category.slug), class: 'menu__label'

      .wrappable
        .wrappable__content.wrappable__content--flex.main-pane
          %main
            = render 'application/breadcrumbs'
            = yield
        %aside.wrappable__content.promotions
          - if current_site.ad_client.present? && current_site.ad_slot.present?
            %section.promotion
              = render 'application/adsense', ad_client: current_site.ad_client, ad_slot: current_site.ad_slot
          - elsif current_site.promotion_tag.present?
            %section.promotion
              = raw current_site.promotion_tag
          %section.promotion
            - if @query
              %h2.subheading.subheading--aside.subheading--press-articles 記事検索
              = render 'search/form', locals: {query: @query}

            %h2.subheading.subheading--aside.subheading--press-articles 新着記事
            %ul
              - current_site.posts.published.order_by_recently.limit(5).each do |post|
                = render partial: 'posts/summary', locals: {post: post}
            %h2.subheading.subheading--aside カテゴリ
            %ul.category-list
              - current_site.categories.ordered.each do |category|
                %li.category-list__item
                  = link_to category.name, category_url(category.slug)
          - if current_site.promotion_url.present?
            .external-component{data: {external_src: current_site.promotion_url}}

    = render 'application/footer'
