!!!
%html
  = render 'application/head'

  %body(data-layer='top'){ class: "#{['root-container', @class_page_name, @class_category_id].compact.join(' ')}" }
    %div.overlay
    = google_tag_manager(current_site.gtm_id)
    = render 'application/content_header'

    = content_for(:notification)

    .content-body
      %nav.sidebar.sidebar--left(data-state='off-canvas')
        %div.menu
          - if current_site.menu_url.present?
            .external-component{data: {external_src: current_site.menu_url}}

          %p.menu__item.menu__item--home.menu__section.xxx{data: {menu_item_state: current_category.nil? ? 'current' : nil}}
            = link_to 'Home', root_url, class: 'menu__label'
          %p.menu__item.menu__item--press.menu__section.yyy{data: {menu_item_state: current_category.nil? ? 'current' : nil}}
            = link_to 'Press', root_url, class: 'menu__label'

          = render partial: 'application/categories', locals: {categories: current_site.categories.ordered, current_category: current_category}

      = content_for(:welcome_content)

      .wrappable
        %span.xxx
          = render 'application/breadcrumbs'
        .wrappable__content.wrappable__content--flex.main-pane
          %main
            %span.yyy
              = render 'application/breadcrumbs'
            = content_for?(:content) ? yield(:content) : yield
        %aside.wrappable__content.promotions
          %section.promotion{ style: 'margin-top: 20px;'}
            - if current_site.ad_client.present? && current_site.ad_slot.present?
              %section.promotion
                = render 'application/adsense', ad_client: current_site.ad_client, ad_slot: current_site.ad_slot
            - elsif current_site.promotion_tag.present?
              %section.promotion.yyy
                = raw current_site.promotion_tag

          %section.promotion
            %h2.subheading.subheading--aside.subheading--press-articles 記事検索
            = render 'application/search_form'

            %h2.subheading.subheading--aside.subheading--press-articles 新着記事
            %ul
              - current_site.posts.published.order_by_recently.limit(5).each do |post|
                = render partial: 'posts/summary_with_content', locals: {post: post}
            %h2.subheading.subheading--aside カテゴリ
            %ul.category-list
              - current_site.categories.ordered.each do |category|
                %li.category-list__item
                  = link_to category.name, category_url(category.slug)
          - if current_site.promotion_url.present?
            .external-component{data: {external_src: current_site.promotion_url}}

    = render 'application/mobile_ad', promotion_tag: current_site.promotion_tag if current_site.promotion_tag.present?
    = render 'application/footer'
