!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0'}

    %title= current_site.name

    = javascript_include_tag 'application'
    = javascript_include_tag current_site.js_url
    = stylesheet_link_tag current_site.css_url
    = csrf_meta_tag
    - if current_site.favicon_url.present?
      = favicon_link_tag current_site.favicon_url
    - if current_site.mobile_favicon_url.present?
      = favicon_link_tag current_site.mobile_favicon_url, rel: 'apple-touch-icon-precomposed', type: 'image/png'
    - if content_for? :rel_next_prev_link_tags
      = content_for :rel_next_prev_link_tags
    - if content_for? :canonical_tag
      = content_for :canonical_tag

  %body.root-container(data-layer='top')
    = google_tag_manager(current_site.gtm_id)

    %header.content-header
      .content-header__main
        %a.content-header__button.content-header__button--menu(data-sidebar='left') menu

        %p.content-header__title
          = link_to root_path, class: 'content-header__logo' do
            = image_tag current_site.logo_url, alt: current_site.name, class: 'content-header__logo-image'

        - if current_site.content_header_url.present?
          .external-component{data: {external_src: current_site.content_header_url}}

      .content-header__sub
        - if current_site.tagline.present?
          %p.content-header__tagline= current_site.tagline

    .content-body
      %nav.sidebar.sidebar--left(data-state='off-canvas')
        %ul.menu
          %li.menu__item.menu__item--home.menu__section{data: {menu_item_state: 'current'}}
            = link_to 'Home', root_path, class: 'menu__label'

            %ul.menu__items
              - current_site.categories.each do |category|
                %li.menu__item{class: "menu__item--#{category.slug}"}
                  = link_to category.name, category_path(category.slug), class: 'menu__label'

      .wrappable
        .wrappable__content.wrappable__content--flex.main-pane
          %main
            = breadcrumbs
            = yield
        %aside.wrappable__content.promotions
          %section.promotion
            %h1.promotion__title.subheading--aside= current_site.name
            %section
              %h2.subheading.subheading--aside Recently updated posts
              = render 'posts/long_collection', posts: current_site.posts.published.order_by_recently.limit(5)

          - if current_site.promotion_url.present?
            .external-component{data: {external_src: current_site.promotion_url}}
    %footer.content-footer
      %ul.content-footer__links
        - current_site.fixed_pages.each do |page|
          %li.content-footer__link= link_to page.title, fixed_page_path(page.slug), class: 'content-footer__link-label'
      %p.content-footer__brand= current_site.name
      - if current_site.tagline.present?
        %p.content-footer__tagline= current_site.tagline
      - if current_site.copyright.present?
        %p.content-footer__copyright= current_site.copyright
