!!!
%html
  = render 'application/head'

  %body.root-container(data-layer='top')
    = google_tag_manager(current_site.gtm_id)
    = render 'application/content_header'

    .content-body
      .wrappable
        .wrappable__content.wrappable__content--flex.main-pane
          %main
            = render 'application/breadcrumbs'
            = yield
            %p= link_to "#{current_site.name}トップへ", current_site.home_url.presence || root_path

    = render 'application/footer'
