<!DOCTYPE html>
<html>
<head>
  <title><%= @site.name %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%# TODO: Use Asset Pipeline %>
  <%# TODO: Set paths from initializer %>
  <%= stylesheet_link_tag @site.css_url %>
  <%= javascript_include_tag @site.js_url %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
