= bootstrap_form_for [:admin, site], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10' do |f|
  = f.text_field :name, help: "Name of your site. This is used in title tag, meta tags and so on."
  = f.text_area :description, help: "Description of your site. This is used in meta tags."
  = f.url_field :js_url, help: "JavaScript URL. Default: embedded"
  = f.url_field :css_url, help: "CSS URL. Default: embedded"
  = f.text_field :fqdn, help: "Full qualified domain name (FQND)"
  = f.text_field :tagline, help: "Tagline is a short text which serves to clarify a thought of this site."
  = f.text_field :category_title_format, help: "You can use following placeholder(s): #{Site::VALID_FORMAT_KEYS.map{|key| "%{#{key}}" }.join(",")}"
  = f.text_field :gtm_id, help: "Google tag manager id."
  = f.url_field :content_header_url, help: "URL of external content on header"
  = f.url_field :promotion_url, help: "URL of external content for promotion"
  = f.text_field :sns_share_caption, help: "Caption for SNS share buttons."
  = f.text_field :twitter_account, help: "Twitter account name without @ prefix."
  = f.url_field :menu_url, help: "URL of external content as a menu"
  = f.url_field :home_url, help: "Home URL for this service. Link for header logo image."
  = f.url_field :footer_url, help: "URL of external content as a footer"
  = f.text_field :ad_client, help: "Google AdSense"
  = f.text_field :ad_slot, help: "Google AdSense"
  = f.text_area :head_tag, help: "HTML tags in <head></head>"
  = f.text_area :promotion_tag, help: "Promotion tag to display ADs using DFP."
  = f.form_group do
    = f.check_box :opened, help: "Publish this site or not."
  = f.file_field :logo_image, help: "Upload logo image."
  - if @site.logo_image.present?
    = f.form_group do
      = image_tag @site.logo_image_url, height: 80
  = f.file_field :favicon_image, help: "Upload favicon image."
  - if @site.favicon_image.present?
    = f.form_group do
      = image_tag @site.favicon_image_url
  = f.file_field :mobile_favicon_image, help: "Upload favicon image for mobile."
  - if @site.mobile_favicon_image.present?
    = f.form_group do
      = image_tag @site.mobile_favicon_image_url

  = f.form_group do
    = f.submit
