<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>
<p>
  <strong>JS URL:</strong>
  <%= @site.js_url %>
</p>
<p>
  <strong>CSS URL:</strong>
  <%= @site.css_url %>
</p>

<%= link_to 'Edit', edit_admin_site_path(@site) %> |
<%= link_to 'Back', admin_sites_path %>
